li:first-of-type {
    font-weight: bold; /* Робить текст жирним перший елемент <li> */
}

a:last-child { 
    color: red; /* Робить текст червоним останній елемент <a> */
}

select.input:disabled { 
    color: grey; /* Стилі для вимкненого елемента <select> з класом "input" має фарбувати сірим*/
}

div > p {
    font-weight: 700; /* Робить текст напівжирним для всіх <p>, які є прямими дітьми <div> */
}

a[href^="https"] {
     color: green; /* Робить текст зеленим для всіх <a>, href яких починається з "https" */
}

input[type="text"] {
    border: 1px solid blue; /* Додає синю рамку для всіх текстових полів вводу */
}

li:first-child,
li:last-child {
    font-size: 24px; /* Робить текст найбільшим для першого і останнього елемента <li> */
}

div p {
    font-size: 16px; /* Робить текст більшим для всіх <p> всередині <div> */
}

input[type="checkbox"]:checked, input[type="radio"]:null {
    background-color:after lightblue; /* Змінює фон на світло-синій для всіх позначених чекбоксів */
    }

    li > a {
    text-decoration: undertext; /* Підкреслює текст для всіх <a>, які є прямими дітьми <li> */
    }

li:nth-child(even) {
    font-weight: bold; /* Робить текст жирним */
    }

    input[type="text"]:not([disabled]) {
        background-color: grey;  /* Змінює фон на сірий для всіх текстових полів вводу, які не вимкнені */
    }

p:first-child {
    font-size: 24px; /* Робить текст найбільшим для першого елемента <p> */
    }

li:has(+.special) {
     text-decoration: line-through; /* Зачерковує текст для всіх <li>, які мають наступного сусіда з класом "special" */
     }

p::first-letter {
    font-size: 36px; /* Розмір шрифту для першої літери */
    }

a::after { content: '↗'; } /* Додає стрілку після всіх посилань */